# office-addin-react - Koppeling van Mozard met Microsoft Office
# Copyright (C) 2020  Mozard BV
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

> 1% in NL
not dead

# https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/browsers-used-by-office-web-add-ins
Explorer >= 11
Edge >= 40 # EdgeHTML engine

# https://docs.microsoft.com/en-us/office/dev/add-ins/concepts/requirements-for-running-office-add-ins
last 1 Edge versions
Firefox ESR
last 1 Firefox versions
last 1 Chrome versions
last 1 Safari versions
last 1 Opera versions
last 1 iOS versions
last 3 Android versions
last 1 OperaMobile versions
last 1 ChromeAndroid versions
last 1 FirefoxAndroid versions
last 1 Samsung versions

not Baidu > 0
not BlackBerry > 0
not ExplorerMobile > 0
not op_mini > 0
not QQAndroid > 0
not UCAndroid > 0
not kaios > 0

not unreleased versions
