/* office-addin-react - Koppeling van Mozard met Microsoft Office
 * Copyright (C) 2021-2022  Mozard BV
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* stylelint-disable */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
/* stylelint-enable */
/* stylelint-disable no-descending-specificity */

/*
 * Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license.
 * See LICENSE in the project root for license information.
 */
/* stylelint-disable */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.ms-welcome__header {
  padding: 20px;
  padding-bottom: 30px;
  padding-top: 100px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.ms-welcome__main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  padding: 10px 20px;
}

.ms-welcome__main > h2 {
  width: 100%;
  text-align: center;
}

.ms-welcome__features {
  list-style-type: none;
  margin-top: 20px;
}

.ms-welcome__features.ms-List .ms-ListItem {
  padding-bottom: 20px;
  display: -webkit-flex;
  display: flex;
}

.ms-welcome__features.ms-List .ms-ListItem > .ms-Icon {
  margin-right: 10px;
}

.ms-welcome__action.ms-Button--hero {
  margin-top: 30px;
}

.ms-Button.ms-Button--hero .ms-Button-label {
  color: #0078d7;
}

.ms-Button.ms-Button--hero:hover .ms-Button-label,
.ms-Button.ms-Button--hero:focus .ms-Button-label {
  color: #005a9e;
  cursor: pointer;
}

b {
  font-weight: bold;
}
/* stylelint-enable */

/* Mozard */
/* stylelint-disable-next-line no-duplicate-selectors */
.ms-welcome__header {
  padding-top: 2rem;
  padding-bottom: 0;
}

@media (max-height: 725px) {
  .ms-welcome__header {
    padding-top: 0;
  }

  .ms-welcome__header > div {
    display: none;
  }
}

.logo-cls-1 {
  fill: hsl(51, 99%, 47%);
}

.nav {
  position: absolute;
  bottom: 0;
}

.nav .ms-CommandBar {
  padding-right: 0;
  padding-left: 0;
  border-top: 2px solid hsl(30, 8%, 95%);
}

/* Bug in Fluent UI bij absolute position? */
.nav .ms-CommandBar-primaryCommand .ms-CommandBarItem-link {
  width: calc(100vw - (80px + 207.63px));
  text-align: left;
}

@media (min-height: 591px) {
  .success,
  .error,
  .progress {
    position: absolute;
    bottom: 5rem;
  }
}

@media (max-height: 590px) {
  .success,
  .error,
  .progress {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .nav {
    width: 100%;
  }
  .nav .ms-Button--commandBar .ms-Button-label {
    display: none;
  }
}

.success,
.error {
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
}

.success {
  background-color: hsl(115, 58%, 92%);
}

.error {
  background-color: rgb(254, 217, 204);
}

.success span,
.error span {
  position: relative;
  top: -5px;
}

.success .ms-Icon,
.error .ms-Icon {
  top: 2px;
}

.success .ms-Icon {
  color: hsl(120, 77%, 27%);
}

.error .ms-Icon {
  color: hsl(0, 100%, 33%);
}

/* stylelint-disable-next-line no-duplicate-selectors */
hr {
  position: relative;
}

hr::before {
  position: absolute;
  top: -11px;
  left: calc(50% - 1.5rem);
  display: block;
  width: 3rem;
  font-style: italic;
  text-align: center;
  content: "of";
  background-color: hsl(0, 0%, 100%);
}

/* Tailwind utils, maar dan handmatig. Het is zonde om voor dit kleine beetje
 * de hele library te importeren. */

.text-center {
  text-align: center;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.p-4 {
  padding: 1rem;
}

.px-4 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.w-100 {
  width: 100%;
}

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Content {
  inset: initial !important;
  max-width: 500px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: hsl(220, 13%, 91%);
    background-color: hsl(30, 3%, 29%);
  }

  .ms-welcome__header {
    background-color: hsl(24, 3%, 35%);
  }

  .ms-fontColor-neutralPrimary {
    color: hsl(220, 13%, 91%);
  }

  .ms-Label {
    color: hsl(220, 13%, 91%);
  }

  hr::before {
    color: hsl(220, 13%, 91%);
    background-color: hsl(30, 3%, 29%);
  }

  .ms-ProgressIndicator-itemName,
  .ms-ProgressIndicator-itemDescription {
    color: hsl(220, 13%, 91%);
  }

  .nav .ms-CommandBar {
    background-color: hsl(30, 3%, 29%);
    border-top-color: hsl(24, 3%, 35%);
  }

  .ms-CommandBarItem-link {
    color: hsl(220, 13%, 91%);
    background-color: hsl(30, 3%, 29%);
  }

  .ms-CommandBarItem-link:hover,
  .ms-CommandBarItem-link:focus {
    color: hsl(220, 13%, 91%);
    background-color: hsl(24, 3%, 35%);
  }

  .ms-CommandBarItem-link .ms-Icon {
    color: hsl(191, 100%, 37%);
  }

  .ms-CommandBarItem-link:hover .ms-Icon,
  .ms-CommandBarItem-link:focus .ms-Icon {
    color: hsl(191, 100%, 37%);
  }

  .ms-Label::after {
    color: hsl(355, 77%, 59%);
  }
}

.messagebar-dossiername {
  padding-top: 1rem;
}
